/* Toggle switch styles */
.theme-switcher {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.toggle-label {
  display: flex;
  align-items: center;
  position: relative;
  width: 50px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  cursor: pointer;
}

.toggle-input {
  display: none;
}

.toggle-switch {
  position: absolute;
  /* top: 2px; */
  left: 2px;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.toggle-input:checked + .toggle-label .toggle-switch {
  transform: translateX(25px);
}

.toggle-input:checked + .toggle-label {
  background-color: #2196f3;
}

/* Additional styles for glow effect */
.toggle-input:checked + .toggle-label .toggle-switch {
  position: relative;
  box-shadow: 0 0 5px #2196f3;
  animation: glow 1.5s infinite ease-in-out;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #2196f3;
  }
  50% {
    box-shadow: 0 0 20px #2196f3;
  }
  100% {
    box-shadow: 0 0 5px #2196f3;
  }
}
